{% extends 'temp/staff_Base.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center>
	<table border="5" class="table table-striped"><h1>Manage contact</h1>
		<tr>
			<th>no</th>
			<th>contact name</th>
			<th>contact number</th>
			<th>email</th>
            <th>Remarks</th>
		</tr>
        {% for i in a %}
		<tr>
			<td>{{ forloop.counter}}</td>
			<td>{{ i.contact_name }}</td>
			<td>{{ i.contact_no }}</td>
			<td>{{ i.mail }}</td>
            <td>{{ i.remark }}</td>
			<td><a href="/contact/remark/{{ i.contact_id }}">Add remarks</a></td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}